@import '~antd/dist/antd.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

::selection {
  color: #FFF;
  background-color: #CC3363;
}
  